@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <script src="signalr.min.js"></script>
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet">

   
</head>

<body>
    <div></div>



    <br>
    <br>
    <br>


    </body>

</html>